@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
.wrapper {
	height: 100%;
	width: 100%;
	background-color: #fefefe;
}

/*Checkbox*/
.switch {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type=checkbox] {
	width: 80px;
	height: 40px;
	background-color: #c6c6c6;
	-webkit-appearance: none;
	display: block;
	position: relative;
	border-radius: 20px;
	transition: 0.5s;
}

input[type=checkbox]:checked {
	background-color: #00ff00;
}

input[type=checkbox]:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	transition: 0.5s;
}

input[type=checkbox]:checked:before {
	content: "";
	top: 0px;
	left: 40px;
	transition: 0.5s;
}

/*--------*/
/*Switch Mode*/
.dark {
	background-color: #4a4a4a;
	transition: 0.5s;
}

.light {
	background-color: #fefefe;
	transition: 0.5s;
}

/*-----------*/